.borders {
  width: 500px;
  height: 400px;
  padding: 30px;
  border: 1px solid rgb(0, 0, 0);
  margin-left: 25%;
  background-color: rgb(204, 202, 202);
}

ul {
  margin: 20px 0;
}

.viewmore {
  font-weight: bolder;
  text-decoration: none;
  margin-top: 50px;
  text-align: center;
  border: 1px solid rgb(142, 185, 226);
  background-color: rgb(142, 185, 226);
  padding: 20px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(0, 0, 0);
  margin: 1em 0;
  padding: 0;
}








